.block {
  width: 200px;
  height: 100px;
  padding: 20px;
  position: absolute;
}

.first {
  background: #FF6B6B;
  top: 50px;
  left: 50px;
  z-index: 1;
}

.second {
  background: #4ECDC4;
  top: 80px;    
  left: 100px;  
}

